<!-- PostsNewController as postsNewCtrl -->
<div class="pull-right col-xl-4">
  <a class="btn btn-warning col-xl-2" href="/">Discard Changes</a>
  <a class="btn btn-danger col-xl-2">Delete Post</a>
  <hr>
</div>
<form>
  <div class="form-group">
    <input type="text" class="form-control" value="title" placeholder="Title">
  </div>
  <div class="form-group">
    <textarea class="form-control" value="content" placeholder="Content"></textarea>
  </div>
  <input type="submit" value="Update Post" class="btn btn-block btn-info">
</form>
